<div class="form-group" style="width: 50%; margin: 0 auto;">
    <label class="label label-info">Search</label>
    <input class="form-control" type="text" ng-model="customerSearch">
</div>

<table class="table table-striped">
    <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Age</th>
    <th>Sex</th>
    <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="customer in customers | filter: customerSearch">
        <td style="cursor: pointer;" ui-sref="customerDetail({id: customer._id})">{{customer.name}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.age}}</td>
        <td>{{customer.sex}}</td>
        <td><button class="btn btn-sm btn-danger" ng-click="deleteCustomer(customer._id)">Delete</button></td>
    </tr>
    </tbody>
</table>

<form class="form" style="width: 50%; margin: 0 auto;" ng-hide="customerSearch !== ''" ng-submit="createCustomer()">
    <div class="form-group">
        <label for=""></label>
        <input class="form-control" type="text" placeholder="name" ng-model="newCustomerData.name">
        <input class="form-control" type="text" placeholder="email" ng-model="newCustomerData.email">
        <input class="form-control" type="number" placeholder="age" ng-model="newCustomerData.age">
        <input class="form-control" type="text" placeholder="sex" ng-model="newCustomerData.sex">
        <button class="btn btn-sm btn-success" type="submit">Submit</button>
    </div>
</form>