<!--<div layout="row"  class="nav-dark" layout-align="space-between center">-->
    <!--<div>-->
        <!--<md-button>About</md-button>-->
        <!--<md-button>Contact</md-button>-->
    <!--</div>-->
    <!--<div class="nav-buttons">-->
        <!--<md-button class="md-raised md-accent">Login</md-button>-->
    <!--</div>-->
<!--</div>-->

<div class="relative" layout="row" layout-padding >
    <div layout="row" class="banner" >
        <video autoplay loop id="bgvid">
            <source src="media/bubbles.mp4" type="video/mp4">
        </video>
    </div>

    <div  flex="66" flex-offset="15" id="title-box">
        <h1 id="center">AquaTest</h1>
        <p>Your Aquatic Homeostasis Tool</p>
        <div layout="row">
            <md-button class="md-fab md-primary" aria-label="Use Android">
                <md-icon md-svg-src="media/images/ic_android_white_24px.svg"></md-icon>
            </md-button>
            <md-button layout="column" layout-align="center center" class="md-primary" ng-href="https://play.google.com/store/apps/details?id=com.aquatest.app&hl=en" target="_blank">Download The App</md-button>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta dictum turpis, eu mollis justo gravida ac. Proin non eros blandit, rutrum est a, cursus quam. Nam ultricies, velit ac suscipit vehicula, turpis eros sollicitudin lacus, at convallis mauris magna non justo. Etiam et suscipit elit. Morbi eu ornare nulla, sit amet ornare est. Sed vehicula ipsum a mattis dapibus. Etiam volutpat vel enim at auctor.</p>
        <md-button ng-click="showTabDialog($event)" class="md-raised md-primary">Login</md-button>
        <md-button ng-click="showTabDialog($event)" class="md-raised md-primary">Signup</md-button>
        <md-button class="md-raised md-primary">About</md-button>
    </div>
</div>


<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div layout="row" layout-xs="column" layout-align="center center">
            <div flex="33" ng-repeat="item in intro.infoBox">
                <div class="icon-block" layout-margin>
                    <div layout="column"  layout-align="center center">
                        <h2 class="center brown-text"><i class="material-icons">{{item.name}}</i></h2>
                        <md-icon class="s48" md-svg-src={{item.imgUrl}}></md-icon>
                        <p class="light">{{item.line}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout="row" layout-align="center center" class="sub-header">
    <h2 class="white-sub">Throw Away Your Scribbled Recordings, Stop Wasting Time in Excel</h2>
</div>

<div class="sub-container">
    <div class="section">
        <h2 layout ="row" layout-align="center center" layout-margin >About Us</h2>
        <div layout="column" class="about" ng-repeat="subSection in intro.about">
            <h2 class="special-font">{{subSection.header}}</h2>
            <p>{{subSection.description}}</p>
        </div>
    </div>
</div>